* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  overflow: hidden;
}

.score_Tablo {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
  position: absolute;
}
